@use "../base/color";
@use "../base/fonts";

$breakpoint-desktop: 1900px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 450px;

@media only screen and (max-width: $breakpoint-desktop) {
  #confirm.form-screen {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    width: 530px;
    margin-left: -5vw;
    margin-right: 10px;
  }
  #pay_thanks {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  .thanks_01 {
    font-size: 30px;
    font-family: fonts.$raleway;
    font-weight: 50px;
    margin-top: 12vw;
  }
  .pay_details {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  #payment {
    width: 60vw;
  }

  #pay_thanks {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 25vw;
    width: 500px;
  }
  #pay_thanks h2 {
    font-size: 30px;
    font-family: fonts.$raleway;
    font-weight: 500px;
  }

  #confirm.form-screen {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 600px;
    width: 730px;
    margin-left: -25vw;
    margin-right: 10px;
  }

  .pay_details {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .your_order {
    font-size: 16px;
  }
  .pay_details {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  main {
    grid-template-columns: repeat(1, 0.8fr);

    grid-gap: 10px;
    justify-content: center;
    margin-top: 4vw;
  }
  .checkbox_container {
    background-color: white;
  }

  .pay-confirm {
    font-size: 12px;
  }
  #payment {
    width: 91vw;
    left: 5%;
  }

  #progress-bar h2 {
    height: clamp(25px, 1vw, 1vw);
    width: clamp(25px, 1vw, 1vw);
    line-height: clamp(30px, 1vw, 1vw);
  }

  .form-group label {
    font-size: clamp(14px, 1.2vw, 1.2vw);
  }

  .close {
    width: clamp(30px, 2vw, 2vw);
    height: clamp(35px, 2vw, 2vw);
  }

  #pay_thanks h2 {
    font-size: 30px;
    font-family: fonts.$raleway;
    font-weight: 500px;
  }
  #pay_thanks {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20vw;
  }
  .order_no {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  .alc-lvl {
    margin-bottom: 3vw;
  }
  #confirm.form-screen {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 600px;
    width: 330px;
    margin-left: -22vw;
    margin-right: 10px;
  }
  .order_container {
    left: 0vw;
    justify-content: center;
    background-color: transparentize($color: #92a395, $amount: 0);
    border-radius: 5px;
    gap: 10px;
    margin: 10px;
    border: none;
    position: relative;
    right: -9vw;
    width: 70vw;
    height: 500px;
  }
  .form-screen {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
